src/main/resources/flows.json
[
    {
        "id": "6535aab52d360a5f",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f6a1ff23a7b7b78",
        "type": "mqtt in",
        "z": "6535aab52d360a5f",
        "name": "",
        "topic": "application/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8047803f95889a17",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "6b095e735cce0c21",
                "c022e1154bd70e94"
            ]
        ]
    },
    {
        "id": "6b095e735cce0c21",
        "type": "debug",
        "z": "6535aab52d360a5f",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f6204f4f7a07813",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "nhnacademygyeongnam",
        "property": "payload.deviceInfo.tenantName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NHN Academy 경남",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "f824fc8270cbcf5e"
            ]
        ]
    },
    {
        "id": "c022e1154bd70e94",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "object",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "object",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "7f0906cb0296c727"
            ]
        ]
    },
    {
        "id": "7f0906cb0296c727",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "deviceinfo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "deviceInfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "6f6204f4f7a07813"
            ]
        ]
    },
    {
        "id": "f824fc8270cbcf5e",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "site",
        "property": "payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "site",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 240,
        "wires": [
            [
                "44ce6cb688e4ba1f"
            ]
        ]
    },
    {
        "id": "44ce6cb688e4ba1f",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "branch",
        "property": "payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "branch",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "6c1cf9e339e5241f"
            ]
        ]
    },
    {
        "id": "6c1cf9e339e5241f",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "place",
        "property": "payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "place",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "aaa36701814fcfb1"
            ]
        ]
    },
    {
        "id": "cf98819de3cff2ac",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "has temperature",
        "property": "payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 340,
        "wires": [
            [
                "b50d13f23ed7e861"
            ]
        ]
    },
    {
        "id": "b5293709b0ef1738",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "has humidity",
        "property": "payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "humidity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "68fb778d62d0dd5c"
            ]
        ]
    },
    {
        "id": "aaa36701814fcfb1",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "insert time",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "cf98819de3cff2ac",
                "b5293709b0ef1738",
                "9c48012edf01ccea"
            ]
        ]
    },
    {
        "id": "789897d82e6496c7",
        "type": "debug",
        "z": "6535aab52d360a5f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 340,
        "wires": []
    },
    {
        "id": "b50d13f23ed7e861",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "insert temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.temperature",
                "pt": "msg",
                "to": "payload.object.temperature",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "5125d979120e4eff"
            ]
        ]
    },
    {
        "id": "5125d979120e4eff",
        "type": "template",
        "z": "6535aab52d360a5f",
        "name": "",
        "field": "payload.tempPayload.topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "data/s/{{payload.deviceInfo.tags.site}}/b/{{payload.deviceInfo.tenantName}}/p/{{payload.deviceInfo.tags.place}}/n/{{payload.deviceInfo.deviceName}}/e/temperature",
        "output": "str",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "958bc2cd7f807203"
            ]
        ]
    },
    {
        "id": "958bc2cd7f807203",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.tempPayload.topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "be19cced45b24e03"
            ]
        ]
    },
    {
        "id": "be19cced45b24e03",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempPayload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "789897d82e6496c7",
                "d53e22de46b9ad2f"
            ]
        ]
    },
    {
        "id": "d53e22de46b9ad2f",
        "type": "mqtt out",
        "z": "6535aab52d360a5f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce93b66399f881a1",
        "x": 1550,
        "y": 460,
        "wires": []
    },
    {
        "id": "68fb778d62d0dd5c",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "insert temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.humidity",
                "pt": "msg",
                "to": "payload.object.humidity",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "74a870add087be47"
            ]
        ]
    },
    {
        "id": "74a870add087be47",
        "type": "template",
        "z": "6535aab52d360a5f",
        "name": "",
        "field": "payload.tempPayload.topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "data/s/{{payload.deviceInfo.tags.site}}/b/{{payload.deviceInfo.tenantName}}/p/{{payload.deviceInfo.tags.place}}/n/{{payload.deviceInfo.deviceName}}/e/humidity",
        "output": "str",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "ce157a7394b2f440"
            ]
        ]
    },
    {
        "id": "ce157a7394b2f440",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.tempPayload.topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "8b63b943a81cc105"
            ]
        ]
    },
    {
        "id": "8b63b943a81cc105",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempPayload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "83dbb7b87aa06ca7",
                "d53e22de46b9ad2f"
            ]
        ]
    },
    {
        "id": "83dbb7b87aa06ca7",
        "type": "debug",
        "z": "6535aab52d360a5f",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 460,
        "wires": []
    },
    {
        "id": "9c48012edf01ccea",
        "type": "switch",
        "z": "6535aab52d360a5f",
        "name": "has co2",
        "property": "payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "0556b9ff639c37b8"
            ]
        ]
    },
    {
        "id": "0556b9ff639c37b8",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "insert co2",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.co2",
                "pt": "msg",
                "to": "payload.object.co2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "985f2cec539d1187"
            ]
        ]
    },
    {
        "id": "985f2cec539d1187",
        "type": "template",
        "z": "6535aab52d360a5f",
        "name": "",
        "field": "payload.tempPayload.topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "data/s/{{payload.deviceInfo.tags.site}}/b/{{payload.deviceInfo.tenantName}}/p/{{payload.deviceInfo.tags.place}}/n/{{payload.deviceInfo.deviceName}}/e/co2",
        "output": "str",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "a21506a60c69f2e9"
            ]
        ]
    },
    {
        "id": "a21506a60c69f2e9",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.tempPayload.topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "082da28d458a70be"
            ]
        ]
    },
    {
        "id": "082da28d458a70be",
        "type": "change",
        "z": "6535aab52d360a5f",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempPayload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "e67b00f432fb1767",
                "d53e22de46b9ad2f"
            ]
        ]
    },
    {
        "id": "e67b00f432fb1767",
        "type": "debug",
        "z": "6535aab52d360a5f",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 580,
        "wires": []
    },
    {
        "id": "8047803f95889a17",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ems.nhnacademy.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce93b66399f881a1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.71.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]