src/main/resources/flows.json
[
    {
        "id": "61589838cc9b6216",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8047803f95889a17",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ems.nhnacademy.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b67f64f3d83e8863",
        "type": "mqtt in",
        "z": "61589838cc9b6216",
        "name": "",
        "topic": "application/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8047803f95889a17",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "28550849d1c4ecd5",
                "9e8f541800931187"
            ]
        ]
    },
    {
        "id": "28550849d1c4ecd5",
        "type": "debug",
        "z": "61589838cc9b6216",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "357d1532f1e409ce",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "nhnacademygyeongnam",
        "property": "payload.deviceInfo.tenantName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NHN Academy 경남",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "14bf668bf461721d"
            ]
        ]
    },
    {
        "id": "9e8f541800931187",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "object",
        "property": "payload.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "object",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "3fa3546b054a934a"
            ]
        ]
    },
    {
        "id": "3fa3546b054a934a",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "deviceinfo",
        "property": "payload.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "deviceInfo",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "357d1532f1e409ce"
            ]
        ]
    },
    {
        "id": "9aca887c036d9395",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "insert tempPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "f31573752e4551dd"
            ]
        ]
    },
    {
        "id": "14bf668bf461721d",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "site",
        "property": "payload.payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "site",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "15c3baf0e257dd7d"
            ]
        ]
    },
    {
        "id": "15c3baf0e257dd7d",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "branch",
        "property": "payload.payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "branch",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "dd6540a92a223abc"
            ]
        ]
    },
    {
        "id": "dd6540a92a223abc",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "place",
        "property": "payload.payload.deviceInfo.tags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "place",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "9aca887c036d9395"
            ]
        ]
    },
    {
        "id": "713a90f38ffbccd6",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "has temperature",
        "property": "payload.payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperature",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "542960d69164937e"
            ]
        ]
    },
    {
        "id": "2c2f54c285570b75",
        "type": "switch",
        "z": "61589838cc9b6216",
        "name": "has humidity",
        "property": "payload.payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "humidity",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "87ea33b44339fef7"
            ]
        ]
    },
    {
        "id": "f31573752e4551dd",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "insert time",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "713a90f38ffbccd6",
                "2c2f54c285570b75"
            ]
        ]
    },
    {
        "id": "68bd0201feb07479",
        "type": "debug",
        "z": "61589838cc9b6216",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "542960d69164937e",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "insert temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.temperature",
                "pt": "msg",
                "to": "payload.object.temperature",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "3b65d4958322489f"
            ]
        ]
    },
    {
        "id": "3b65d4958322489f",
        "type": "template",
        "z": "61589838cc9b6216",
        "name": "",
        "field": "payload.tempPayload.topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "data/s/{{payload.deviceInfo.tags.site}}/b/{{payload.deviceInfo.tenantName}}/p/{{payload.deviceInfo.tags.place}}/n/{{payload.deviceInfo.deviceName}}/e/temperature",
        "output": "str",
        "x": 960,
        "y": 340,
        "wires": [
            [
                "151fdb3154b2693e"
            ]
        ]
    },
    {
        "id": "151fdb3154b2693e",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.tempPayload.topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "d1cea4ebd1c93d74"
            ]
        ]
    },
    {
        "id": "d1cea4ebd1c93d74",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempPayload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 340,
        "wires": [
            [
                "68bd0201feb07479",
                "199f1ab8e161a28d"
            ]
        ]
    },
    {
        "id": "199f1ab8e161a28d",
        "type": "mqtt out",
        "z": "61589838cc9b6216",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8047803f95889a17",
        "x": 1390,
        "y": 400,
        "wires": []
    },
    {
        "id": "87ea33b44339fef7",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "insert temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload.tempPayload.payload.humidity",
                "pt": "msg",
                "to": "payload.object.humidity",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "2e95d8d6e77c67c8"
            ]
        ]
    },
    {
        "id": "2e95d8d6e77c67c8",
        "type": "template",
        "z": "61589838cc9b6216",
        "name": "",
        "field": "payload.tempPayload.topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "data/s/{{payload.deviceInfo.tags.site}}/b/{{payload.deviceInfo.tenantName}}/p/{{payload.deviceInfo.tags.place}}/n/{{payload.deviceInfo.deviceName}}/e/humidity",
        "output": "str",
        "x": 940,
        "y": 460,
        "wires": [
            [
                "807eaf5b42b5be30"
            ]
        ]
    },
    {
        "id": "807eaf5b42b5be30",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.tempPayload.topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "8186c3c4539d4f51"
            ]
        ]
    },
    {
        "id": "8186c3c4539d4f51",
        "type": "change",
        "z": "61589838cc9b6216",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempPayload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 460,
        "wires": [
            [
                "199f1ab8e161a28d",
                "6f45365bed8569c7"
            ]
        ]
    },
    {
        "id": "6f45365bed8569c7",
        "type": "debug",
        "z": "61589838cc9b6216",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 460,
        "wires": []
    }
]